<ion-content [class]="global.state['theme']">
  <ion-card class="thanks-width">
    <ion-card-content class="thank-background">
      <ion-item class="thank-background">
        <ion-avatar item-start>
          <img class="thank-img" alt="" />
        </ion-avatar>
        <p class="thank-title">Thank You!</p>
        &nbsp;
        <p class="thank-subtitle">We value your feedback.</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
