<ion-row>
  <ion-col size="4">
    ANSWERS
    <ion-icon name="add-circle" (click)="addResultOption()"></ion-icon>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="5">
    <div
      class="result-option"
      *ngFor="
        let followupOption of surveyItem.Result.FollowupOptions;
        let i = index
      "
    >
      <ion-input
        type="text"
        [(ngModel)]="followupOption.Text"
        (change)="prohibitDuplicate(followupOption)"
      ></ion-input
      ><ion-icon name="close-circle" (click)="removeResultOption(i)"></ion-icon>
    </div>
  </ion-col>
</ion-row>
