ion-icon{
    color:  var(--ion-color-dark);
    font-size: 25px;
    vertical-align:bottom;
    float: right;
}

ion-input[type="text"] {
    border: 1px solid #bfc1c3 !important;
    border-radius: 5px !important;
    margin-left: 0;
    margin-right: 8px;
    width: 100%;
    height: 100%;
    text-align: start;
  }
.result-option{
    display: flex;
}
