.clear-btn{
    
    --background : var(--ion-color-primary-contrast);
    --color:  var(--ion-color-dark);
    width: 140px;
    --box-shadow:0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12)
}

.save-btn{
    width: 140px;
    --background : var(--ion-color-dark);
    --color:  var(--ion-color-primary-contrast);
}

.activated{
    --background-activated: #3f84c7;
}


ion-icon[name="medical"] {
    font-size: 9px;
    margin: 0;
    min-width: 11px;
    text-align: left;
    float: left;
    color: var(--ion-color-danger);
  }


:host ::ng-deep{
    app-text-input.invalid{
        div{
            ion-input, ion-textarea{
            border: 1px solid red !important;
            }
        }
    }

    app-result-option.invalidControl{
      
            ion-row:first-child{
                ion-col:first-child{
                    border: 1px solid red !important;
                }
            }
        
    }


}