<ion-row>
  <ion-col size="12">
    <ion-label position="stacked" text-wrap>
      <ion-text>
        <h3>
          <span *ngIf="activeSurveyItem.IsRequired === 'true'">
            <ion-icon name="medical"></ion-icon>
          </span>
          {{
            activeSurveyItem.ScaffoldItemText === ''
              ? activeSurveyItem.Text
              : activeSurveyItem.ScaffoldItemText
          }}
        </h3>
      </ion-text>
    </ion-label>
    <div *ngIf="activeSurveyItem.ScaffoldControlTypeCode === 'TB'">
      <app-text-input
        [ngClass]="{ invalid: !isValid }"
        [(surveyItem)]="activeSurveyItem"
        [isInitilized]="true"
      ></app-text-input>
    </div>
    <div *ngIf="activeSurveyItem.ControlTypeCode === 'SM'">
      <app-smiley-option
        [(surveyItem)]="activeSurveyItem"
        [resultOptionsForCustomSurvey]="resultOptionsForCustomSurvey"
        (smileyOptionChange)="onSmileyOptionChange($event)"
      ></app-smiley-option>
    </div>
    <div *ngIf="activeSurveyItem.ControlTypeCode === 'RB'">
      <app-result-option
        [ngClass]="{ invalidControl: !isControlValid }"
        [surveyItem]="activeSurveyItem"
      ></app-result-option>
    </div>
  </ion-col>
  <ion-col size="12" class="ion-text-right">
    <ion-button class="clear-btn" (click)="onClear()">Clear</ion-button>
    <ion-button class="save-btn" (click)="onSaveAndNext()">{{
      currentActiveIndex == lastSurveyItemIndex ? 'Save' : 'Save & Next'
    }}</ion-button>
  </ion-col>
</ion-row>
