<div>
  <ion-textarea
    *ngIf="surveyItem.ResultTextMaxLength > maxLengthForRenderingAsTextBox"
    elastic
    class="feedback-ans text-area-font"
    maxlength="{{ surveyItem.ResultTextMaxLength }}"
    [(ngModel)]="surveyItem.Result.ResultText"
    placeholder="{{ placeHolder }}"
  ></ion-textarea>

  <ion-input
    *ngIf="surveyItem.ResultTextMaxLength <= maxLengthForRenderingAsTextBox"
    class="text-area-font"
    type="text"
    [(ngModel)]="surveyItem.Result.ResultText"
    placeholder="{{ placeHolder }}"
  ></ion-input>
</div>
