<ion-card class="page-container">
  <ion-card-header>
    <ion-row>
      <a
        (click)="back()"
        class="rm-txt-decoration"
        *ngIf="!isSurveyAtThisDevice"
      >
        <ion-icon name="arrow-back"></ion-icon> Back
      </a>
      <ion-col class="col">
        <ion-img
          class="logo"
          src="assets/imgs/acuity-sentiment-logo-3x.jpg"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <location-or-setup-survey
      [wizardInfo]="wizardInfo"
      [activeItemType]="activeWizardItemType"
    ></location-or-setup-survey>

    <current-location
      *ngIf="!(typeOfSurvey === surveyType.CUSTOM && isSurveyActive)"
      [showChangeButton]="isSurveyAtThisDevice"
      (onCostCenterChange)="showCostCenterSearch($event)"
    >
    </current-location>
    <survey-segment
      *ngIf="!(typeOfSurvey === surveyType.CUSTOM && isSurveyActive)"
    ></survey-segment>
    <div *ngIf="!isSurveyActive">
      <select-survey-type
        [items]="surveyTypeConfig"
        [data]="listOfSurvey"
        (selectSurveyType)="onSelectSurveyType($event)"
        (selectSurvey)="onSelectSurvey($event)"
        [itemTitleField]="'name'"
        [dataField]="'description'"
        [dataKey]=""
        [itemKey]="type"
        [isACSurvey]="typeOfSurvey === surveyType.ACUITY ? true : false"
      ></select-survey-type>
    </div>
    <div
      *ngIf="
        (typeOfSurvey === surveyType.PREDEFINED ||
          typeOfSurvey === surveyType.TASTING) &&
        isSurveyActive
      "
    >
      <app-survey #appSurvey [surveyItems]="surveyItems"></app-survey>
    </div>
    <div *ngIf="typeOfSurvey === surveyType.CUSTOM && isSurveyActive">
      <app-custom-survey></app-custom-survey>
    </div>
    <div
      *ngIf="
        (typeOfSurvey === surveyType.PREDEFINED ||
          typeOfSurvey === surveyType.TASTING) &&
        isSurveyActive
      "
    >
      <app-launch-ask-btn [surveyType]="typeOfSurvey"></app-launch-ask-btn>
    </div>
  </ion-card-content>
</ion-card>
