ion-card {
  --background: #ffffff;
}

.logo {
  width: 25%;
  margin: 0 auto;
}

.page-container {
  padding-top: 15px;
  text-align: center;
  height: auto;
  max-height: 90%;
  overflow-y: auto;
}

.col {
  padding: 5px;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

a {
  color: #3f84c7;
}
.rm-txt-decoration{
  text-decoration: none;
}
