.float-right{
    float: right;
}
ion-icon{
    font-size: 20px;
    cursor: pointer;
}
.footer{
    margin-top: 10px;
}

.mail-msg{
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}