<ion-content>
  <ion-row>
    <ion-col text-right>
      <ion-icon name="close" (click)="closeModal()"></ion-icon>
    </ion-col>
  </ion-row>

  <form [formGroup]="emailForm" (ngSubmit)="sendEmailMessage()">
    <ion-item>
      <ion-label>
        To:
      </ion-label>
      <ion-input formControlName="emailAddress" placeHolder="To"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Subject:
      </ion-label>
      <ion-input formControlName="subject" placeHolder="Subject"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Message:
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-textarea
        rows="6"
        cols="20"
        formControlName="mailMessage"
        disabled
        placeHolder="Message"
      ></ion-textarea> -->

      <div
        [innerHtml]="emailService.emailData.mailMessage"
        class="mail-msg"
      ></div>
    </ion-item>
    <ion-row class="footer">
      <ion-col>
        <ion-button color="primary " type="submit" [disabled]="!emailForm.valid"
          >Send your message</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
