@import "../../../../assets/stylesheets/bz-wizard.scss";
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

a {
  color: #3f84c7;
}

.col {
  padding: 5px;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.text-center {
  text-align: center !important;
}

a:hover {
  opacity: 0.7;
}

hr {
  height: 1px;
  border-width: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.08);
}
