<div class="row bs-wizard">
  <div
    *ngFor="let wizardItem of wizardInfo"
    class="col bs-wizard-step"
    [ngClass]="wizardItem?.type === activeItemType ? 'active' : 'disabled'"
  >
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <a class="bs-wizard-dot"></a>
    <div
      class="text-center"
      [ngClass]="
        wizardItem?.type === activeItemType
          ? 'bs-wizard-info-active role-dot-active'
          : 'bs-wizard-info-inactive role-dot-inactive'
      "
    >
      {{ wizardItem?.name }}
    </div>
  </div>
</div>
<hr />
