<ion-list>
  <ion-row>
    <ion-col *ngFor="let item of items" (click)="expandItem(item)" size="12">
      <div>
        {{ item[itemTitleField] }}
        <ion-icon
          [name]="
            item.expanded ? 'remove-circle-outline' : 'add-circle-outline'
          "
        ></ion-icon>
      </div>

      <app-accordion
        [expandHeight]="150"
        selectSurvey
        [expanded]="item.expanded"
      >
        <survey-list
          [data]="data"
          [dataField]="dataField"
          (selectSurvey)="onSelectSurvey($event)"
          [isACSurvey]="isACSurvey"
        ></survey-list>
      </app-accordion>
    </ion-col>
  </ion-row>
</ion-list>
