ion-col{
    background-color:var(--ion-color-light);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    text-align: left;
    cursor: pointer;
    color: var(--ion-color-dark-tint);
    font-size: 18px;
    
    div{
        padding-top: 4px;
        padding-left: 30px;
        padding-bottom: 5px;
        padding-right: 30px;

        ion-icon{
            color:var(--ion-color-medium);
            font-size: 28px;
            float: right;
        }
    }

}
