<ion-list>
  <ion-radio-group>
    <ion-item
      [ngClass]="{
        'kiosk-response-button': isKiosk
      }"
      text-wrap
      text-center
      *ngFor="let resultOption of resultOptions"
    >
      <ion-label>{{ resultOption.Text }}</ion-label>
      <ion-radio
        [ngClass]="{
          'kiosk-radio': isKiosk && surveyType === SURVEY_TYPE?.ACUITY,
          'radio-md': !isKiosk || surveyType !== SURVEY_TYPE?.ACUITY
        }"
        mode="md"
        name="option_question_{{ surveyItem.SurveyItemID }}"
        [checked]="
          surveyItem.Result.ResultOptionId == resultOption.ResultOptionId
        "
        [value]="resultOption.ResultOptionId"
        (ionSelect)="changeSurveyItemResult(resultOption)"
      >
      </ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
