ion-list {
  width: 50%;
}

.kiosk-response-button {
  border-radius: 8px;
  background-color: var(--radio-unchecked);
  color: black;
  text-align: center;
  height: 130px;
  margin-right: 15px;
  min-width: 155px;
  max-width: 155px;
  margin-bottom: 15px;
}

.kiosk-radio {
  margin-right: 5px;
  min-height: 100px;
  max-width: 0px;
}
