.submit-btn-container {
  padding: 0px 10px 0px 10px;

  .submit-btn {
      font-size: 16px;
      background-color: #3f84c7;
      color: var(--ion-color-primary-contrast);
      height: 2.5rem;
      width: 100% !important;
      cursor: pointer;
    }
}
