<ion-row padding-horizontal>
  <ion-col class="submit-btn-container">
    <button
      ion-button
      class="submit-btn"
      (click)="launchAsk()"
      full
      type="submit"
    >
      LAUNCH ASK
    </button>
  </ion-col>
</ion-row>
