<div class="control-group">
  <ion-button class="singature-btn" (click)="openSignatureModal()">
    Signature
  </ion-button>
  <img [src]="signatureImage" *ngIf="signatureImage" class="signatureImage" />
</div>
