.control-group {
  display: flex;
}
.singature-btn {
  float: left;
  width: 50%;
}
.signatureImage {
  width: 45%;
  border: 1px dashed #333333;
  float: left;
  margin-left: 4%;
}

:host::ng-deep {
  .show-modal {
    --height: 30%;
    --max-height: 30%;
  }
}
