// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/sectors.theme.scss';

.background {
  --background: #ffffff url('./assets/imgs/admin-bg.png') no-repeat center
    center / cover;
}

.show-modal {
  --height: 25%;
  --max-height: 25%;
  --width: 69%;
  --background: transparent;
  --box-shadow: none;
}

.logout {
  content: url('./assets/imgs/logout.png');
}

.login {
  content: url('./assets/imgs/login.png');
}

.report {
  content: url('./assets/imgs/report.png');
}

.sync {
  content: url('./assets/imgs/sync.png');
}

.survey {
  content: url('./assets/imgs/survey.png');
}

.alert-wrapper {
  max-width: 380px !important;
  width: 380px !important;
}

.height-full {
  height: 100%;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

app-userresponse ion-content,
app-userresponse ion-item {
  --background: transparent;
}

.survey-taking ion-list {
  background: transparent;
  min-height: 250px;
}

app-userresponse ion-card {
  box-shadow: none !important;
}

.user-response-labels,
.user-response-labels h3 {
  text-align: center;
  font-size: 2.5rem;
}

.alert-radio-label {
  white-space: pre-line !important;
}

.picker-wrapper.sc-ion-picker-md {
  top: 0px;
}

.hand-cursor {
  cursor: pointer;
}

.alert-tappable.sc-ion-alert-md {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.alert-tappable.sc-ion-alert-ios {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.required {
  border: 1px solid red;
}

.email-modal {
  --height: 50%;
  --max-height: 70%;
  --width: 50%;
}

.signature.modal {
  --height: 30%;
  --max-height: 30%;
  --width: 60%;
  --background: transparent;
  --box-shadow: none;
}

.survey-version-modal {
  --height: 20%;
  --width: 30%;
  --max-height: 20%;
}

.outdated-template-modal {
  --height: 14%;
  --width: 42%;
  --max-height: 14%;
}

.survey-edit-warning-modal {
  --height: 20%;
  --width: 30%;
  --max-height: 20%;
}

.survey-preview-modal {
  --height: 50%;
  --width: 50%;
  --max-height: 50%;
}
