.ask{
    ion-input{
        border: 2px solid #bfc1c3 !important;
        border-radius:5px !important;
        --padding-start:15px;
    }

    ion-select{
        width:100% !important;
        max-width: 100% !important;
        border: 2px solid #bfc1c3 !important;
        border-radius: 5px !important;
    }
}
.acuityConnect{
    ion-input{
        border-bottom: 2px solid #bfc1c3 !important;
        
        --padding-start:15px;
    }

    ion-select{
        width:100% !important;
        max-width: 100% !important;
        border-bottom: 2px solid #bfc1c3 !important;
    }
}

.submit-btn {
    font-size: 16px;
    background-color: var(--ion-color-dark);
    color:var(--ion-color-primary-contrast);
    height: 2.5rem;
    width: 100% !important;
    cursor: pointer;
}

.submit-btn:hover:not(.disable-hover) {
    background-color: #3f84c7;
  }

.my-custom-select {
    color: #8c8c8c;
}
