<form [class]="theme" [formGroup]="locationSearchForm" (ngSubmit)="onSearch()">
  <ion-row
    justify-content-center
    align-items-center
    size="12"
    padding-horizontal
  >
    <ion-col [size]="formConfig.costCenterNumber.size">
      <ion-item lines="none">
        <ion-input
          [placeholder]="formConfig.costCenterNumber.placeholder"
          name="number"
          formControlName="number"
          type="number"
          appInputNumberCheck
          min="1"
          clearInput
          inputmode="numeric"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col [size]="formConfig.costCenterName.size">
      <ion-item lines="none">
        <ion-input
          type="text"
          [placeholder]="formConfig.costCenterName.placeholder"
          formControlName="name"
          maxlength="50"
          clearInput
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center align-items-center padding-horizontal>
    <ion-col [size]="formConfig.zipCode.size">
      <ion-item lines="none">
        <ion-input
          [placeholder]="formConfig.zipCode.placeholder"
          type="number"
          formControlName="zip_code"
          appInputNumberCheck
          min="1"
          clearInput
          inputmode="numeric"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col [size]="formConfig.state.size">
      <ion-item lines="none" class="select-category">
        <ion-select
          padding-right
          [placeholder]="formConfig.state.placeholder"
          formControlName="state"
          [ngClass]="{ 'my-custom-select': !locationSearchForm.value.state }"
        >
          <ion-select-option
            *ngFor="let state of states"
            [value]="state.abbreviation"
            >{{ state.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center align-items-center padding-horizontal>
    <ion-col [size]="formConfig.city.size">
      <ion-item lines="none">
        <ion-input
          [placeholder]="formConfig.city.placeholder"
          formControlName="city"
          maxlength="50"
          clearInput
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center align-items-center padding-horizontal>
    <ion-col [size]="formConfig.searchBtn.size" class="submit-btn-container">
      <ion-item lines="none">
        <button ion-button class="submit-btn" full type="submit">
          {{ formConfig.searchBtn.placeholder }}
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
</form>
