<ion-row class="label-btn-row" justify-content-center>
  <ion-col
    align-self-center
    *ngFor="let resultOption of resultOptions"
    [style.flex-basis]="flexBasis"
    [style.max-width]="flexBasis"
  >
    <div
      (click)="onResultOptionSelection(resultOption.ResultOptionId)"
      class="label-btn label-btn-box hand-cursor"
    >
      <div class="label-btn-text">{{ resultOption.Text }}</div>
    </div>
  </ion-col>
</ion-row>
