.label-btn-row {
    padding-top: 30px;
  }

.label-btn {
    background-color:white;
    width: 135px;
    height:100px;
    max-width: 135px;
}

.label-btn-box{
  border-radius: 16px;
  box-shadow: 3px 3px #888888;
  position: relative;
  margin: 0 auto;
}

.label-btn-text{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 21px;
}



