<ion-row>
  <ion-col size="12">
    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked" text-wrap>
          <ion-text>
            <h3>
              SMILEY OPTIONS
            </h3>
          </ion-text>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-select
          padding-right
          [placeholder]="'Select Sentiments'"
          [(ngModel)]="surveyItem.ResultOptionTypeID"
          (ionChange)="onSmileyOptionChange(surveyItem.ResultOptionTypeID)"
        >
          <ion-select-option
            *ngFor="let resultOption of resultOptionsForCustomSurvey"
            [value]="resultOption.ResultOptionTypeId"
            >{{ resultOption.ResultOptionTypeDescription }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
