ion-select{
    width:100% !important;
    max-width: 100% !important;
    border: 2px solid #bfc1c3 !important;
    border-radius: 5px !important;
}

ion-row > ion-col{
    padding-left: 0px;
    padding-right: 0px;
}