ion-list{
    background-color:var(--ion-color-light);
    .list-item{
        width: 100%;
    }
    ion-row{
        ion-col{
            min-height: 40px;
            cursor: pointer;
            padding: 0px;

            ion-icon{
                font-size: 25px;
            }

            ion-label{
                padding-top: 3px;
                display: flex;
                
                .padding-start-24{
                    padding-left: 24px;
                }

                ion-text{
                    padding-top: 3px;
                }
                
            }
        }

        .active{
            background-color: #3f84c7;
            color: #fff;
        }
    }
}