<ion-list class="ion-text-left">
  <ion-row *ngFor="let surveyItem of surveyItems; let i = index">
    <ion-col
      size="12"
      *ngIf="
        surveyItem.ControlTypeCode === 'CM' &&
        surveyItem.ScaffoldIsVisible === 'true'
      "
      (click)="itemClicked(surveyItem.SurveyItemID, i)"
      [ngClass]="{
        active: surveyItem.SurveyItemID === activeItemID && isItemActive,
        required: inRequiredSurveyItemIdArray(surveyItem.SurveyItemID)
      }"
    >
      <ion-label>
        <ion-text>
          <h3 class="padding-start-24">
            <span>
              {{
                surveyItem.Result &&
                surveyItem.Result.ResultText &&
                surveyItem.Result.ResultText !== ''
                  ? surveyItem.Result.ResultText
                  : surveyItem.Text
              }}
            </span>
          </h3>
        </ion-text>
      </ion-label>
    </ion-col>
    <ion-col
      size="12"
      *ngIf="
        surveyItem.ControlTypeCode === 'SM' &&
        surveyItem.ScaffoldIsVisible === 'true'
      "
      (click)="itemClicked(surveyItem.SurveyItemID, i)"
      [ngClass]="{
        active: surveyItem.SurveyItemID === activeItemID && isItemActive,
        required: inRequiredSurveyItemIdArray(surveyItem.SurveyItemID)
      }"
    >
      <ion-label>
        <span
          ><ion-icon
            [name]="
              surveyItem.SurveyItemID === activeItemID
                ? 'arrow-dropdown'
                : 'arrow-dropright'
            "
          ></ion-icon>
        </span>
        <ion-text>
          <h3>
            <span>
              {{
                surveyItem.Result &&
                surveyItem.Result.ResultText &&
                surveyItem.Result.ResultText !== ''
                  ? surveyItem.Result.ResultText
                  : surveyItem.Text
              }}
            </span>
          </h3>
        </ion-text>
      </ion-label>
      <div *ngIf="surveyItem.SurveyItemID === activeItemID">
        <app-accordion [expandHeight]="300" [expanded]="true">
          <smiley-list
            [activeSmileyText]="activeSmileyText"
            [smileyList]="smileyList"
            [surveyItems]="surveyItems"
            [isParentItemActive]="isItemActive"
            [activeItemID]="activeItemID"
            [requiredSurveyItemIdArray]="requiredSurveyItemIdArray"
            [currentActiveIndex]="currentActiveIndex"
            (selectSmiley)="onSelectSmiley($event)"
          ></smiley-list>
        </app-accordion>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-top">
    <ion-col size="12">
      <app-launch-ask-btn
        #lAskBtnComp
        (requireSurveyItem)="onValidation($event)"
        [surveyType]="surveyType"
      ></app-launch-ask-btn> </ion-col
  ></ion-row>
</ion-list>
