<div *ngIf="isLocationAlreadyPresent && !showSearchCostCenter">
  <ion-row>
    <ion-segment
      [(ngModel)]="surveySegment"
      color="dark"
      mode="ios"
      class="survey-segment-center-align"
      (ionChange)="selectedSegment()"
    >
      <ion-segment-button value="location" class="line-height button-height">
        <div text-wrap>FORM AT THIS COST CENTER</div>
      </ion-segment-button>
      <ion-segment-button
        *ngIf="!isDesktopBrowser"
        value="device"
        class="line-height button-height"
      >
        <div text-wrap>FORM AT THIS DEVICE</div>
      </ion-segment-button>
      <ion-segment-button value="new" class="line-height button-height">
        <div text-wrap>SETUP NEW</div>
      </ion-segment-button>
    </ion-segment>
  </ion-row>
  <ion-row class="">
    <ion-col>
      <ion-list [hidden]="!showSurveyList" radio-group>
        <ion-item
          *ngFor="let survey of configSurvey"
          class="item-border list-border"
          text-wrap
        >
          <span>{{ survey.Header.Description }}</span>
          <ion-button
            class="preview-btn"
            (click)="previewSurvey(survey)"
            *ngIf="survey.Header.Category !== SURVEY_TYPE.ACUITY"
          >
            PREVIEW
          </ion-button>
          <ion-button
            class="edit-btn"
            (click)="editSurvey(survey)"
            *ngIf="survey.Header.Category !== SURVEY_TYPE.ACUITY"
          >
            EDIT
          </ion-button>
          <ion-button
            class="launch-btn"
            (click)="launchSurveyWithoutCopy(survey)"
          >
            LAUNCH ASK
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row
    [hidden]="
      (configSurvey && configSurvey.length > 0) || surveySegment === 'new'
    "
  >
    <ion-col>
      <ion-label>No form available</ion-label>
    </ion-col>
  </ion-row>
</div>
