.survey-segment-center-align {
    padding: 0 50px;

}

.config-button {
    height: 35px !important;
    width: 130px !important;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #3f84c7;
    padding: 0 0.6em;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.config-button:first-of-type {
    margin-right: 10px;
}

@media all and (max-width: 600px) {
    .line-height {
        line-height: 1.5rem !important;
        height: 4.6rem !important;
    }
}

.button-height {
    height: 30px;
    min-height: 30px;
    max-height: 30px;
}

.segment-button-layout-icon-top:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    margin-right: 0;
}

.segment-button-layout-icon-top:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left-width: 0;
}

.segment-button-layout-icon-top {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #222;
    border-color: #222;
}

span {
    width: 100%
}

ion-segment-button {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.edit-btn {
    height: 36px;
    min-width: 8%;
    margin-right: 1%;
    --background: #3f84c7;
}

.launch-btn {
    height: 36px;
    --background: #3f84c7;
}

.preview-btn {
    height: 36px;
    --background: #3f84c7;
    margin-right: 1%;
}