<div class="theme" [ngClass]="{ 'div-height': true }">
  <ion-content class="background survey-taking">
    <ion-grid height="100%">
      <ion-row justify-content-center align-self-center class="height-full">
        <ion-col align-self-end text-left size-md="4" size-lg="4" size-xs="4">
        </ion-col>
        <ion-col
          align-self-center
          text-right
          size-md="4"
          size-lg="4"
          offset-lg="4"
          offset-md="4"
          size-xs="8"
        >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="height-full">
      <ion-row justify-content-center class="height-full">
        <ion-col class="user-col" size="12" class="height-full">
          <div class="user-container">
            <ion-card-content class="logout-card" (click)="logout()">
            </ion-card-content>
            <ion-router-outlet></ion-router-outlet>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
