.div-height {
  height: 100%;
}

.logout-card {
  position: fixed;
  top: 20px !important;
  right: 20px !important;
  width: 35% !important;
  height: 100px;
  z-index: 999;
}

.user-col {
  margin-top: 2%;
}
