.bs-wizard {
    border-bottom: 0 #e0e0e0;
    padding: 0 15% 5% 15%;
  }
  
  .bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
  }
  
  .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
  }
  
  .bs-wizard>.bs-wizard-step .bs-wizard-info-active {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #3f84c7;
    top: 20px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
  }
  
  .bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
    content: " ";
    width: 14px;
    height: 14px;
    background: #3f84c7;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  
  .bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 2px;
    box-shadow: none;
    margin: 20px 0;
    background: #E8E2E2;
  }
  
  .bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #EAE9E5;
  }
  
  .bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
  }
  
  .bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
  }
  
  .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
  }
  
  .bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
  }
  
  .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #f5f5f5;
  }
  
  .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
  }
  
  .bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%;
  }
  
  .bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
  }
  
  .bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
    background-color: #A5A1A1;
    width: 20px;
    height: 20px;
    top: 26px;
  }
  