.text-right {
    text-align: right;
}

.icon-height {
    height: 18px;
}

ion-icon {
    color: var(--ion-color-medium);
    font-size: 28px;
    float: right;
}

.option-label {
    margin-left: 4%;
}

ion-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    text-align: left;
    cursor: pointer;
    color: var(--ion-color-dark-tint);
    font-size: 18px;
}

.bullet-icon-container {
    float: left;
}

.option-text-container {
    margin-left: 15px;
}