<ion-content>
  <ion-row>
    <ion-col class="text-right icon-height">
      <ion-icon name="close" (click)="closeModal()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <ion-list lines="none">
          <div
            *ngFor="let surveyItem of surveyItems"
            (click)="expandItem(surveyItem)"
          >
            <ion-item>
              <ion-label text-wrap>
                <ion-text>
                  {{ surveyItem.Text }}
                  <ion-icon
                    *ngIf="
                      surveyItem.ResultOptions &&
                      surveyItem.ResultOptions.length > 0
                    "
                    [name]="
                      surveyItem.expanded
                        ? 'remove-circle-outline'
                        : 'add-circle-outline'
                    "
                  ></ion-icon>
                </ion-text>
                <app-accordion
                  [expandHeight]="800"
                  [expanded]="surveyItem.expanded"
                >
                  <div
                    *ngFor="let resultOption of surveyItem.ResultOptions"
                    (click)="expandResultOption(resultOption, surveyItem)"
                  >
                    <ion-item>
                      <ion-label text-wrap>
                        <ion-text>
                          {{ resultOption.Text }}
                          <ion-icon
                            *ngIf="
                              getFollowupItems(
                                resultOption.ResultOptionId,
                                surveyItem.Order
                              ).length > 0
                            "
                            [name]="
                              resultOption.expanded
                                ? 'remove-circle-outline'
                                : 'add-circle-outline'
                            "
                          ></ion-icon>
                        </ion-text>
                        <app-accordion
                          [expandHeight]="800"
                          [expanded]="resultOption.expanded"
                        >
                          <div
                            *ngFor="
                              let followUpItem of getFollowupItems(
                                resultOption.ResultOptionId,
                                surveyItem.Order
                              )
                            "
                          >
                            <ion-item>
                              <ion-label text-wrap>
                                <ion-text>
                                  {{ followUpItem.Text }}
                                </ion-text>
                                <div
                                  *ngFor="
                                    let options of followUpItem.ResultOptions
                                  "
                                >
                                  <ion-label text-wrap class="option-label">
                                    <div class="bullet-icon-container">
                                      &#9679;
                                    </div>
                                    <div class="option-text-container">
                                      <ion-text>
                                        {{ options.Text }}
                                      </ion-text>
                                    </div>
                                  </ion-label>
                                </div>
                              </ion-label>
                            </ion-item>
                          </div>
                        </app-accordion>
                      </ion-label>
                    </ion-item>
                  </div>
                </app-accordion>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
