<div>
  <div class="controls">
    <ion-button
      color="primary"
      expand="block"
      (click)="updateCurrentDateTime()"
      class="button-block button theme-button date-time-btn"
      >Click for Current Date/Time.</ion-button
    >
    <ion-input
      class="text-area-font"
      maxlength="50"
      type="text"
      [(ngModel)]="surveyItem.Result.ResultText"
      readonly
    >
    </ion-input>
  </div>
</div>
