.controls {
  display: flex;
}
.date-time-btn {
  margin: 0px;
  float: left;
  padding-top: 5px;
  height: auto;
}
.theme-button.checklist-bg {
  padding: 10px;
  text-align: left;
  height: auto;
}
.text-area-font {
  float: left;
  border: 1px solid #ccc;
  font-size: 17px;
  line-height: 1.2;
  padding: 4px;
  margin-left: 5%;
  text-align: center;
}

ion-button {
  width: 50%;
}
ion-input {
  max-width: 50%;
}
