<ion-content>
    <ion-row>
        <ion-col class="text-right icon-height">
            <ion-icon name="close" (click)="closeModal()"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <span>This survey was created using an outdated template.</span><br />
            <span>Please launch a new survey using the updated template.</span>
        </ion-col>
    </ion-row>
</ion-content>