<ion-row class="ion-text-left custom-survey">
  <ion-col size="4" class="left-nav">
    <app-left-navigation
      [surveyItems]="surveyItems"
      [activeItemID]="activeItemID"
      [isItemActive]="isItemActive"
      [smileyList]="smileyList"
      [activeSmileyText]="activeSmileyText"
      [surveyType]="SURVEY_TYPE.CUSTOM"
      [lastSurveyItemActiveIndex]="lastSurveyItemActiveIndex"
      [currentActiveIndex]="currentActiveIndex"
      (itemChange)="onItemChange($event)"
    ></app-left-navigation>
  </ion-col>
  <ion-col class="ion-float-left" size="8">
    <div *ngFor="let surveyItem of surveyItems; let i = index">
      <app-custom-survey-template
        *ngIf="currentActiveIndex == i"
        [activeSurveyItem]="surveyItem"
        [resultOptionsForCustomSurvey]="resultOptionsForCustomSurvey"
        [lastSurveyItemIndex]="lastSurveyItemIndex"
        [currentActiveIndex]="currentActiveIndex"
        (smileyOptionChange)="onSmileyOptionChange($event)"
        (saveNext)="onSaveAndNext()"
        (clear)="onClear()"
      ></app-custom-survey-template>
    </div>
  </ion-col>
</ion-row>
