.theme {
  height: 100% !important;
  font-family: 'Segoe UI Light, Sans-serif' !important;

  ion-radio {
    --color: var(--radio-unchecked);
    --color-checked: var(--radio-checked);
  }

  .submit-btn {
    --background: var(--submit-button-color);
  }

  .background {
    --background: none;
    background-image: var(--theme-img);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .followup-header {
    color: #000 !important;
  }

  .item ion-label {
    font-weight: bold !important;
    color: var(--question-font-color) !important;
    font-size: 24px !important;
  }
}

.thank-title {
  color: var(--title) !important;
  padding-left: 10px;
  font-size: 20px;
}

.thank-subtitle {
  color: var(--sub-title) !important;
}

.thank-img {
  content: var(--thank-you-image);
}

.thank-background {
  background: #221e1f !important;
  padding: 5px;
}
