ion-card{
    --background: #ffffff;
}

.logo{
    width: 50%;
    margin: 0 auto;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
}
ion-toolbar{
    --background: #292929 !important ;
}
ion-title{
    font-size: 14px;
    color: #fff;
}
