<ion-content padding class="background">
  <ion-grid class="height-full">
    <ion-row justify-content-center class="height-full">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-img
              class="logo"
              src="assets/imgs/acuity-sentiment-logo-3x.jpg"
            ></ion-img>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="authenticateUser()" #loginForm="ngForm">
              <ion-list no-lines>
                <ion-item no-padding>
                  <ion-input
                    type="text"
                    maxlength="150"
                    clearInput
                    [(ngModel)]="user.UserName"
                    name="username"
                    placeholder="Username"
                    required
                  ></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input
                    type="password"
                    maxlength="150"
                    clearInput
                    [(ngModel)]="user.Password"
                    name="password"
                    placeholder="Password"
                    required
                    (keyup.enter)="authenticateUser()"
                  ></ion-input>
                </ion-item>
              </ion-list>
              <ion-button
                type="submit"
                [disabled]="loginForm.invalid"
                size="default"
                expand="full"
                >Login</ion-button
              >
            </form>
            <p text-right>Sync Left : {{ syncCount }}</p>
            <p text-right *ngIf="lastSyncTime">
              Last Sync Time : {{ lastSyncTime }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="showFooter">
  <ion-toolbar>
    <ion-title text-center>
      {{ packageName }} <br />{{ versionNumber }}
    </ion-title>
  </ion-toolbar>
</ion-footer>
