<ion-content class="signatureContent">
  <div class="signaturecontainer">
    <signature-pad [options]="signaturePadOptions"></signature-pad>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="danger" (click)="closeSignature()">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" (click)="clearSignature()">
          Clear
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" (click)="drawComplete()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
