:host ::ng-deep {
  .signaturecontainer {
    width: 60%;

    @media screen and(max-width: 700px) {
      width: 85%;
    }

    margin: auto;

    signature-pad {
      canvas {
        border: 1px dashed #333333;
        margin-top: 20px;
        width: 100%;
        height: 132px;
      }
    }
  }
}

ion-row {
  text-align: center;
}