<ion-content>
    <ion-row>
        <ion-col>
            <span>This is not the latest version of the selected survey. Do you want to continue with the latest version
                of the survey?</span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="align-right">
            <ion-button (click)="continue()">Yes</ion-button>
        </ion-col>
        <ion-col class="align-left">
            <ion-button (click)="stop()">No</ion-button>
        </ion-col>
    </ion-row>
</ion-content>