<ion-content class="background">
  <ion-grid height="100%">
    <ion-row
      justify-content-center
      padding
      align-self-center
      class="height-full"
    >
      <ion-col align-self-end text-left size-md="4" size-lg="4" size-xs="4">
        <img class="report" (click)="gotoReport()" alt="" />
      </ion-col>
      <ion-col
        align-self-center
        text-right
        size-md="4"
        size-lg="4"
        offset-lg="4"
        offset-md="4"
        size-xs="8"
      >
        <img class="sync" (click)="sync()" padding-end alt="" />
        <img class="logout" (click)="logout()" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="height-full">
    <ion-row justify-content-center class="height-full">
      <ion-col align-self-center size="9" class="height-full">
        <div class="home-container" *ngIf="isLocalStorgeSet">
          <router-outlet></router-outlet>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
