<ion-row
  *ngIf="surveyType !== SURVEY_TYPE?.ACUITY"
  align-items-center
  [ngClass]="{
    'justify-content-center':
      surveyType !== SURVEY_TYPE?.ACUITY && resultOptions.length < 3,
    'width-ac': surveyType === SURVEY_TYPE?.ACUITY,
    'width-s': surveyType !== SURVEY_TYPE?.ACUITY
  }"
>
  <div
    *ngFor="let resultOption of resultOptions"
    [ngClass]="{
      'width-50': resultOptions.length > 1 && surveyType !== SURVEY_TYPE?.ACUITY
    }"
  >
    <ion-radio-group (ionChange)="onChanged($event)">
      <ion-item
        [ngClass]="{
          'kiosk-response-button': isKiosk && surveyType === SURVEY_TYPE?.ACUITY
        }"
        text-wrap
        text-center
      >
        <ion-text> {{ resultOption.Text }}</ion-text>
        <ion-radio
          class="radio-md"
          mode="md"
          slot="start"
          item-left
          [checked]="
            surveyItem.Result.ResultOptionId == resultOption.ResultOptionId
          "
          (ionSelect)="selectedAnswer(resultOption)"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</ion-row>

<ion-row
  *ngIf="surveyType === SURVEY_TYPE?.ACUITY"
  align-items-center
  [ngClass]="{
    'justify-content-center':
      surveyType !== SURVEY_TYPE?.ACUITY && resultOptions.length < 3,
    'width-ac': surveyType === SURVEY_TYPE?.ACUITY,
    'width-s': surveyType !== SURVEY_TYPE?.ACUITY
  }"
>
  <ion-col
    [size]="resultOptions?.length < 3 ? resultOptions.length + 1 : null"
    class="text-center"
    *ngFor="let resultOption of resultOptions"
  >
    <ion-radio-group (ionChange)="onChanged($event)">
      <ion-item
        [ngClass]="{
          'kiosk-response-button': isKiosk && surveyType === SURVEY_TYPE?.ACUITY
        }"
        text-wrap
        text-center
      >
        <ion-text> {{ resultOption.Text }}</ion-text>
        <ion-radio
          [ngClass]="{
            'kiosk-radio': isKiosk && surveyType === SURVEY_TYPE?.ACUITY,
            'radio-md': !isKiosk || surveyType !== SURVEY_TYPE?.ACUITY
          }"
          mode="md"
          slot="start"
          item-left
          [checked]="
            surveyItem.Result.ResultOptionId == resultOption.ResultOptionId
          "
          (ionSelect)="selectedAnswer(resultOption)"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-col>
</ion-row>

<ion-row size-md="12" *ngIf="surveyType !== SURVEY_TYPE?.ACUITY">
  <ion-col class="submit-btn-container">
    <ion-button
      class="submit-btn"
      mode="md"
      expand="full"
      type="submit"
      (click)="submitModal()"
      >SUBMIT</ion-button
    >
  </ion-col>
</ion-row>
