.item-radio-checked ion-label {
  font-size: 20px;
  color: #fff;
}

.item ion-label {
  font-size: 20px;
  color: #fff;
}

.list-col {
  margin: 0 auto;
  float: left;
  width: 50%;
}

.free-float ::after {
  clear: both;
  content: '';
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid darkgray;
  border-radius: 50%;
}

.submit-btn-container {
  margin: auto;
  margin-top: 30px;
}

.width-100 {
  width: unset;
}
.width-50 {
  width: 50%;
}
ion-text {
  word-break: break-all;
}

.justify-content-center {
  justify-content: center;
}

.width-ac {
  max-width: 100%;
  min-width: 35%;
}

.width-s {
  width: 80%;
  margin: auto;
}

.kiosk-response-button {
  border-radius: 8px;
  background-color: var(--radio-unchecked);
  color: black;
  text-align: center;
  height: 130px;
  margin-right: 0px;
  min-width: 115px;
  max-width: 150px;
  margin-bottom: 15px;
  font-weight: bold;
}

.kiosk-radio {
  margin-right: 10px;
  margin-left: 10px;
  min-height: 100px;
  max-width: 0%;
}
