ion-content {
  position: absolute;
  top: 0;
  --background: url('/assets/imgs/canteen_bv_bg.jpg') no-repeat 0 0 / cover;
}

.container {
  padding: 0 80px;
}

.content {
  padding: 60px 80px 70px 80px;
  background: rgba(255, 255, 255, 0.75);
}

h1 {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 70px;
  font-weight: normal;
}

h2 {
  margin-top: 0;
  margin-bottom: 45px;
  padding: 0 80px;
  font-size: 30px;
  font-weight: normal;
}

.qr {
  display: inline-block;
  width: 120px;
  margin-right: 40px;
}

ion-button {
  --background: #a5cf4f;
  --box-shadow: none;
  font-weight: normal;
}

.chevron {
  margin-left: 10px;
  transform: scaleX(0.7);
}
