<ion-content>
  <div class="height-full vertical-center container">
    <div class="text-center content">
      <h1>Tell us what you think!</h1>
      <h2>
        Scan the QR Code to take the survey on your device or click the button
        start survey
      </h2>
      <div class="vertical-center">
        <ion-img class="qr" src="/assets/imgs/qr.png"></ion-img>
        <ion-button size="large">
          START SURVEY
          <ion-icon
            class="chevron"
            src="/assets/icons/chevron-forward-outline.svg"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
