<ion-card class="page-container">
  <ion-card-header>
    <ion-img
      class="logo"
      src="assets/imgs/acuity-sentiment-logo-3x.jpg"
    ></ion-img>
  </ion-card-header>
  <ion-card-content>
    <location-or-setup-survey
      [wizardInfo]="wizardInfo"
      [activeItemType]="wizardItemTypes.COST_CENTER"
    ></location-or-setup-survey>
    <current-location
      [showChangeButton]="true"
      (onCostCenterChange)="showCostCenterSearch($event)"
    ></current-location>
    <location-search
      *ngIf="!isLocationAlreadyPresent || showSearchCostCenter"
      [navigateUrl]="setupSurveyPagePath"
      (onGettingLocation)="setLocation($event)"
    ></location-search>
    <survey-segment></survey-segment>
  </ion-card-content>
</ion-card>
