ion-card{
    --background: #ffffff;
  }
  
  .logo{
    width: 25%;
    margin: 0 auto;
  }
  
  .page-container{
    padding-top: 15px;
    text-align: center;
    height: auto;
    max-height: 90%;
    overflow-y: auto;
  }