.item {
    border: none !important;
}

.caption {
    text-align: center;
    margin-left: 10px;
}

.radio-checkbox {
    border: 0;
    padding: 15px !important;
    margin-left: 8px;
    border-radius: 3px;
}

.check::after {
    content: "\2713";
    color: black;
    margin-top: -13px;
    margin-left: -7px;
    position: absolute;
    font-weight: bold;
}

ion-col {
    margin-right: 20px;
}

.background-red {
    background-color: red;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.background-grey {
    background-color: grey;
}

ion-radio {
    --color: white !important;
    --color-checked: black !important;
}