<ion-list>
  <ion-radio-group>
    <ion-item>
      <ion-row>
        <ion-col *ngFor="let resultOption of resultOptions">
          <ion-label class="caption">{{ resultOption.Text }}</ion-label>
          <ion-radio
            *ngIf="
              resultOption.Text == 'NA' ||
              resultOption.Text == 'R' ||
              resultOption.Text == 'Y' ||
              resultOption.Text == 'G'
            "
            class="border-style radio-checkbox item item-radio"
            [disabled]="isdisabled == true"
            name="option_question_{{ resultOption.ResultOptionId }}_{{
              surveyItem.SurveyItemID
            }}"
            [value]="resultOption.ResultOptionId"
            (ionSelect)="changeSurveyItemResult(resultOption)"
            [ngClass]="{
              check:
                surveyItem.Result.ResultOptionId == resultOption.ResultOptionId,
              'background-red': resultOption.Text == 'R',
              'background-green': resultOption.Text == 'G',
              'background-yellow': resultOption.Text == 'Y',
              'background-grey': resultOption.Text == 'NA'
            }"
          ></ion-radio>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-radio-group>
</ion-list>
