<ion-content padding>
  <ion-grid class="height-full">
    <ion-row justify-content-center class="height-full">
      <ion-col size-md="12" size-lg="12" size-xs="12" class="user-col">
        <ion-card>
          <ion-card-content>
            <app-survey
              [surveyItems]="surveyItems"
              (displayGroupSelectionChanged)="onDisplayGroupSelectionChanged($event)"
            >
            </app-survey>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
