ion-list{
    max-height: 150px;
    overflow-y: scroll;
    text-align: left;
    cursor: default;
    color: var(--ion-color-dark);
    font-weight: bold;
    font-size: 18px;
}
ion-col{
    border-bottom: 1px solid #f2f2f2;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;

    ion-icon{
        color: var(--ion-color-dark);
        font-size: 25px;
        float: right;
    }
}

.config-button {
    height: 35px !important;
    width: 110px !important;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #3f84c7;
    padding: 0 0.6em;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    float: right;
}