<ion-list>
  <ion-row>
    <ion-col
      *ngFor="let item of data"
      (click)="!isACSurvey ? onClickItem($event, item) : false"
      size="12"
    >
      {{ item[dataField] }}
      <ion-icon *ngIf="!isACSurvey" name="arrow-dropright"></ion-icon>
      <button
        *ngIf="isACSurvey"
        class="config-button"
        ion-button
        (click)="onClickItem($event, item)"
        item-right
      >
        LAUNCH ASK
      </button>
    </ion-col>
  </ion-row>
</ion-list>
