.item-width {
  width: 100%;
  max-width: 100%;
}

.item-width-50 {
  width: 50%;
  max-width: 50%;
}

ion-select {
  width: 100% !important;
  max-width: 100% !important;
  padding-inline-start: 10px;
}

.select-category {
  width: 100% !important;
  max-width: 100% !important;
  border: 1px solid #bfc1c3 !important;
  margin-bottom: 15px;
}

ion-icon {
  font-size: 30px;
  margin: 0;
  min-width: 11px;
  text-align: left;
  color: var(--ion-color-danger);
}

.survey-title {
  padding-bottom: 10px;
}

.next-btn {
  display: flex;
  float: right;
}

ion-item {
  --highlight-color-focused: none;
  --highlight-color-valid: none;
  --highlight-color-invalid: none;
}

.user-col {
  margin-top: 10%;
}

.ac-item ion-label {
  float: left;
}

.ac-item h3 {
  font-size: 22px !important;
}
.ac-item {
  margin-top: 35px;
}

:host ::ng-deep {
  .ac-item ion-label {
    font-size: 24px !important;
    font-weight: normal !important;
  }
  .ac-item app-follow-up ion-radio-group ion-row {
    justify-content: left !important;
  }
}

.form-actions {
  margin-top: 40px;
}

.warning-label {
  text-align: center;
}

.warning-icon {
  font-size: 13px;
  float: none;
}

.resetButton {
  width: 30px !important;
  height: 30px;
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: fixed;
  top: 135px !important;
  right: 50px !important;
}

.progressBar {
  position: fixed;
  width: 90%;
  margin-top: -50px;
}
