<app-progress-bar
  *ngIf="isKiosk && surveyCategory === SURVEY_TYPE.ACUITY"
  [progressValue]="surveyProgressValue"
  class="progressBar"
></app-progress-bar>

<!-- <ion-row class="warning-label"> -->

<ion-row class="item warning-label" *ngIf="isCurrentSurveyOutdated === true">
  <ion-col>
    <ion-label>
      <ion-text>
        <h2>
          <ion-icon name="warning" class="warning-icon"></ion-icon>
          <span>
            You are not responding to the latest version of this survey. Please
            contact the administrator.
          </span>
        </h2>
      </ion-text>
    </ion-label>
  </ion-col>
</ion-row>
<ion-row class="item warning-label" *ngIf="isTemplateOutdated === true">
  <ion-col>
    <ion-label>
      <ion-text>
        <h2>
          <ion-icon name="warning" class="warning-icon"></ion-icon>
          <span>
            This survey was created using an outdated template. Please contact
            the administrator.
          </span>
        </h2>
      </ion-text>
    </ion-label>
  </ion-col>
</ion-row>
<ion-grid class="height-full">
  <ion-row class="height-full">
    <ion-col text-right>
      <button
        *ngIf="showResetBtn"
        class="resetButton"
        (click)="onClickResetButton()"
        alt=""
      >
        <ion-icon style="height: 30px; width:30px;" name="refresh"></ion-icon>
      </button>
    </ion-col>
    <ion-col size-md="12" size-lg="12" size-xs="12" class="user-col">
      <form name="surveyForm" #surveyForm="ngForm">
        <ion-list lines="none">
          <div *ngFor="let surveyItem of surveyItems">
            <ion-item
              *ngIf="
                (!isAdmin ||
                  (isAdmin && surveyItem.ScaffoldIsVisible === 'true')) &&
                surveyItem.ItemTypeCode !== 'ML' &&
                surveyItem.ItemTypeCode !== 'MO' &&
                surveyItem.ItemTypeCode !== 'MR' &&
                (surveyItem.ScaffoldControlTypeCode === ''
                  ? surveyItem.ControlTypeCode !== 'CM' ||
                    surveyCategory === SURVEY_TYPE.ACUITY
                  : surveyItem.ScaffoldControlTypeCode !== 'CM') &&
                (surveyItem.ScaffoldControlTypeCode === ''
                  ? surveyItem.ControlTypeCode !== 'CF'
                  : surveyItem.ScaffoldControlTypeCode !== 'CF')
              "
              class="item-width"
              [ngClass]="{
                'ac-item':
                  (surveyCategory === SURVEY_TYPE.ACUITY && !isKiosk) ||
                  (surveyItem.ControlTypeCode === 'CM' &&
                    surveyCategory === SURVEY_TYPE.ACUITY)
              }"
            >
              <div
                id="question"
                class="item-width"
                [ngClass]="{ 'user-response-labels': !isAdmin }"
              >
                <ion-label position="stacked" text-wrap>
                  <ion-text>
                    <h3>
                      <span
                        *ngIf="
                          surveyItem.IsRequired &&
                          (isAdmin ||
                            (surveyCategory === SURVEY_TYPE.ACUITY &&
                              surveyItem.ControlTypeCode !== 'CM'))
                        "
                      >
                        <ion-icon name="medical"></ion-icon> </span
                      >{{
                        isAdmin
                          ? surveyItem?.ScaffoldItemText === null ||
                            surveyItem?.ScaffoldItemText === ''
                            ? surveyItem?.Text
                            : surveyItem?.ScaffoldItemText
                          : surveyItem?.Text
                      }}
                    </h3>
                  </ion-text>
                </ion-label>
              </div>
              <div
                class="item-width"
                *ngIf="
                  isAdmin &&
                  (surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ScaffoldControlTypeCode === ''
                    ? surveyItem.ControlTypeCode === 'TB'
                    : surveyItem.ScaffoldControlTypeCode === 'TB')
                "
              >
                <app-text-input
                  [(surveyItem)]="surveyItem"
                  [placeHolder]="
                    isAdmin
                      ? surveyItem?.ScaffoldItemText === null ||
                        surveyItem?.ScaffoldItemText === ''
                        ? surveyItem?.Text
                        : surveyItem?.ScaffoldItemText
                      : surveyItem?.Text
                  "
                  [isAdmin]="isAdmin"
                ></app-text-input>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'SM'
                "
              >
                <app-smiley-box
                  [(surveyItem)]="surveyItem"
                  (resultOptionSelected)="onResultOptionSelection($event)"
                >
                </app-smiley-box>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  (surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  !isAdmin
                    ? surveyItem.ControlTypeCode === 'RB'
                    : surveyItem.ScaffoldControlTypeCode === 'TB')
                "
              >
                <app-follow-up
                  [(surveyItem)]="surveyItem"
                  [isKiosk]="isKiosk"
                  [surveyType]="surveyCategory"
                  (resultOptionSelected)="onResultOptionSelection($event)"
                ></app-follow-up>
              </div>
              <div
                class="item-width"
                *ngIf="
                  isAdmin &&
                  (surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ScaffoldControlTypeCode === ''
                    ? surveyItem.ControlTypeCode === 'CL'
                    : surveyItem.ScaffoldControlTypeCode === 'CL')
                "
              >
                <app-multi-select
                  [(surveyItem)]="surveyItem"
                  (resultOptionSelected)="onResultOptionSelection($event)"
                >
                </app-multi-select>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'BL'
                "
              >
                <app-label-button
                  [(surveyItem)]="surveyItem"
                  (resultOptionSelected)="onResultOptionSelection($event)"
                >
                </app-label-button>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'RV'
                "
              >
                <app-radio-vertical
                  [surveyItem]="surveyItem"
                  [isKiosk]="isKiosk"
                  (resultOptionSelected)="onResultOptionSelection($event)"
                >
                </app-radio-vertical>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'SL'
                "
              >
                <app-stop-light [surveyItem]="surveyItem"></app-stop-light>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'SR'
                "
              >
                <app-star-rating [(surveyItem)]="surveyItem"></app-star-rating>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'CB'
                "
              >
                <app-checkbox [(surveyItem)]="surveyItem"></app-checkbox>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'DT'
                "
              >
                <app-date-input [surveyItem]="surveyItem"></app-date-input>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'UD'
                "
              >
                <app-currency-input
                  [surveyItem]="surveyItem"
                ></app-currency-input>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'TC'
                "
              >
                <app-time-input [surveyItem]="surveyItem"></app-time-input>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  (surveyItem.ControlTypeCode === 'TI' ||
                    surveyItem.ControlTypeCode === 'EM')
                "
              >
                <app-email-phone-input
                  [surveyItem]="surveyItem"
                  [inputDataType]="
                    surveyItem.ControlTypeCode === 'TI' ? 'number' : 'email'
                  "
                ></app-email-phone-input>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'SN'
                "
              >
                <app-signature [surveyItem]="surveyItem"></app-signature>
              </div>
              <div
                class="item-width"
                *ngIf="
                  !isAdmin &&
                  surveyItem.ItemTypeCode !== 'ML' &&
                  surveyItem.ItemTypeCode !== 'MO' &&
                  surveyItem.ItemTypeCode !== 'MR' &&
                  surveyItem.ControlTypeCode === 'TB'
                "
              >
                <app-text-input
                  [(surveyItem)]="surveyItem"
                  [placeHolder]="surveyItem.Text"
                  [isAdmin]="isAdmin"
                >
                </app-text-input>
              </div>
            </ion-item>
          </div>
        </ion-list>
        <div
          class="form-actions buttom-padding"
          *ngIf="!isAdmin && showNextPrevBtn"
        >
          <p class="text-center">
            <ion-button
              (click)="getPreviousSurveyItems()"
              *ngIf="
                currentDisplayGroupData &&
                currentDisplayGroupData.display_group_id != 0
              "
            >
              Previous</ion-button
            >
            <ion-button
              class="next-btn"
              (click)="getNextSurveyItems()"
              [disabled]="isInValidSurveyItems()"
              >{{ lastItem === true ? 'Finish' : 'Next' }}</ion-button
            >
          </p>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
