ion-card img {
  width: 25% !important;
}
.logo {
  width: 25% !important;
  margin: auto;
  padding-top: 10px;
  content: url("../../../../assets/imgs/acuity-logo.png");
}
.sc-ion-card-md-h {
  --background: white;
}

.page-container {

  .login-card {
    position: fixed;
    top: 20px;
    right: 20px;
  }
    
  .card-panel {
    width: 70%;
    padding-top: 15px;
    text-align: center;
    margin: auto;
    height: auto;
    max-height: 90%;
    overflow-y: auto;
    margin-top: 10%;
  }
}
