<ion-content padding class="background">
  <ion-row class="page-container">
    <ion-card-content class="login-card">
      <ion-row>
        <ion-col text-right>
          <img class="logout" (click)="logout()" alt="" />
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card class="card-panel ">
      <img class="logo" alt="" />

      <ion-card-content text-left>
        <ion-row>
          <ion-col>
            URL for Report:
            <a text-left [href]="reportUrl"> View Report</a>
          </ion-col>
        </ion-row>
        <a><ion-button (click)="onEmail()">Email Details</ion-button></a>
        <ion-button (click)="back()" ion-button>Back to report</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
