<div>
  <div class="currencyContainer">
    <input
      class="currencyAmount"
      step="0.01"
      [ngModel]="value | currency: 'USD':'symbol':'2.2'"
      [ngModelOptions]="{ updateOn: 'blur' }"
      (ngModelChange)="onValueChange($event)"
      type="text"
      maxlength="10"
      decimal-places
    />
    <span class="currencyLabel">USD</span>
  </div>
  <div class="error-log" *ngIf="validationError">
    <label>{{ validationErrorText }}</label>
  </div>
</div>
