.currencyContainer {
  display: inline-block;
  width: 40%;
  padding: 5px;
}

.currencyAmount {
  float: left;
  border: 1px solid #ccc;
  height: 42px;
  width: 100%;
  border-right: none;
  font-size: 1.3em;
  padding: 0 5px;
  color: #444;
}

.currencyLabel {
  position: absolute;
  height: 42px;
  line-height: 42px;
  padding: 0 5px;
  text-align: center;
  color: #444;
  background: #ccc;
  border: 1px solid #ccc;
  border-left: none;
  width: 14%;
}

.error-log {
  color: #882525;
  padding-left: 7px;
}
