<ion-list>
  <ion-row
    *ngFor="let smiley of smileyList?.ResultOptions"
    [ngClass]="{
      required: inRequiredSurveyItemIdArray(
        mappedSurveyItemIdObj[smiley.ResultOptionId]
      )
    }"
  >
    <ion-col
      (click)="
        onClickSmiley($event, mappedSurveyItemIdObj[smiley.ResultOptionId])
      "
      [ngClass]="{
        'cursor-default': !mappedSurveyItemIdObj[smiley.ResultOptionId],
        active:
          currentActiveIndex ===
            indexMapObj[mappedSurveyItemIdObj[smiley.ResultOptionId]] &&
          !isParentItemActive
      }"
    >
      <img
        class="feedback-emoji"
        [src]="'assets/imgs/' + smiley.Text + '.png'"
        alt=""
      />
      <span class="smiley-text">{{ smiley.Text }}</span>

      <ion-icon
        *ngIf="mappedSurveyItemIdObj[smiley.ResultOptionId]"
        name="arrow-forward"
      ></ion-icon>
    </ion-col>
  </ion-row>
</ion-list>
