ion-list{
    background-color:var(--ion-color-light);
    color: black;
    ion-col{
    display: flex;
    .feedback-emoji {
        width: 30px;
        height: 30px;
      }
      .smiley-text{
          margin-left: 10px;
          flex: 1;
      }
    }

    .cursor-default{
        cursor: default;      
    }

    .active{
        background-color: #3f84c7;
        color: #fff;
    }

    ion-icon{
        float: right;
        padding-right: 5px;
        vertical-align:bottom;
        padding-top: 3px;
        font-size: 18px;
    }
}

