<ion-row padding-horizontal>
  <ion-col size="12">
    <ion-list radio-group>
      <div *ngIf="theme === 'ask'; else acuityTheme">
        <ion-item
          lines="none"
          *ngFor="let location of locations"
          class="item-border"
        >
          <span>{{ location.LocationDescription }}</span>
          <ion-button class="config-button" (click)="onConfigure(location)">
            CONFIGURE
          </ion-button>
        </ion-item>
      </div>
      <ng-template #acuityTheme>
        <ion-item
          lines="none"
          *ngFor="let location of locations"
          class="item-border"
        >
          <span>{{ location.LocationDescription }}</span>
          <ion-button class="config-button" (click)="onConfigure(location)">
            Acuity
          </ion-button>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-col>
</ion-row>
