ion-list {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

span {
    width:100%
}

hr {
    height: 1px;
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.08);
}

.config-button {
    height: 35px !important;
    width: 110px !important;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #3f84c7;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.item-border {
    border-bottom: 2px solid lightgray !important;
}

ion-button{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}