

  .phone-email-input {
    border: 2px solid #bfc1c3 !important;
    padding: 7px !important;
    border-radius: 5px !important;
    margin-left: 0;
    margin-top: 13px;
    margin-right: 8px;
    margin-bottom: 13px;
    width: 100%;
    height: 100%;
    text-align: start;
  }

  .error-log {
    color: #882525;
  }