<div>
  <ion-input
    class="phone-email-input"
    type="{{ inputDataType }}"
    [(ngModel)]="surveyItem.Result.ResultText"
    [pattern]="inputDataType == 'email' ? emailPattern : phonePattern"
    (ionBlur)="validateInput()"
  ></ion-input>
  <div class="error-log" *ngIf="validationError">
    <label>{{ validationErrorText }}</label>
  </div>
</div>
