<ion-content padding class="background" id="container">
  <ion-row justify-content-center class="page-container">
    <ion-row class="report-header" padding>
      <ion-col text-left *ngIf="isInternal">
        <img class="survey" (click)="goback()" alt="" />
      </ion-col>
      <ion-col text-right *ngIf="isInternal">
        <img class="sync" (click)="sync()" alt="" />
        <img class="logout" (click)="logout()" alt="" />
      </ion-col>
    </ion-row>
    <ion-card class="card-panel " padding>
      <img class="logo" src="assets/imgs/acuity-sentiment-logo-3x.jpg" alt="" />
      <ion-card-content padding-left>
        <ion-row>
          <ion-col no-padding class="text-center">
            <ion-label class="survey-title">Form Responses</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="costCenter">
          <ion-col col class="text-left">
            <h3 class="text-bold font-size-small">CURRENT COST CENTER</h3>
            <h2 class="text-bold">{{ costCenter }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="text-left text-bold">Select Form</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" no-padding>
            <ion-item class="select-category">
              <ion-label>Select Form</ion-label>
              <ion-select
                no-padding
                padding-right
                placeholder="Select Form"
                [disabled]="!isInternal"
                value="selectedSurveyId"
                (ionChange)="changeSurveyId()"
                [(ngModel)]="selectedSurveyId"
              >
                <ion-select-option
                  *ngFor="let survey of listOfSurveys | orderBy: 'surveyTitle'"
                  [value]="survey.feedbackSurveyId"
                >
                  {{ survey.surveyTitle }} ({{ survey.categoryName }} -
                  {{ survey.feedbackSurveyId }})
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col
            col-3
            class="ion-col-datetime"
            *ngIf="this.surveySegment === 'Cumulative'"
          >
            <button ion-button icon-right class="datetime-button">
              <ion-label>From</ion-label>
              <ion-datetime
                #fromDateTime
                class="ion-datetime-padding"
                pickerFormat="MMMM/DD/YYYY"
                displayFormat="DD-MMM-YYYY"
                (ionChange)="getSurveyReport(true)"
                [(ngModel)]="startDateString"
                [min]="minimumDateString"
                [max]="maximumDateString"
              ></ion-datetime>
              <ion-icon name="calendar" class="calendar"></ion-icon>
            </button>
          </ion-col>
          <ion-col
            col-3
            class="ion-col-datetime"
            *ngIf="this.surveySegment === 'Cumulative'"
          >
            <button ion-button icon-right class="datetime-button">
              <ion-label>To</ion-label>
              <ion-datetime
                #toDateTime
                class="ion-datetime-padding"
                pickerFormat="MMMM/DD/YYYY"
                displayFormat="DD-MMM-YYYY"
                (ionChange)="getSurveyReport(true)"
                [(ngModel)]="endDateString"
                [min]="startDateString"
                [max]="maximumDateString"
              ></ion-datetime>
              <ion-icon name="calendar" class="calendar"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="foodTypes.length > 0">
          <ion-col>
            <p class="text-left text-bold">Select Cuisine/Flavor</p>
          </ion-col>
        </ion-row>
        <ion-row
          *ngIf="
            distinctQuestions.length > 0 &&
            selectedCategory === 'Custom' &&
            pieChartDataSum > 0
          "
        >
          <ion-col>
            <p class="text-left text-bold">Select Question</p>
          </ion-col>
        </ion-row>
        <ion-row
          *ngIf="
            distinctQuestions.length === 0 ||
            selectedCategory === 'Predefined' ||
            pieChartDataSum === 0
          "
        >
          <ion-col>
            <p>&nbsp;</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 *ngIf="foodTypes.length > 0">
            <ion-item class="select-category" no-padding>
              <ion-label>Select Cuisine/Flavor</ion-label>
              <ion-select
                no-padding
                padding-right
                placeholder="Select Cuisine/Flavor"
                [(ngModel)]="selectedFoodType"
                (ionChange)="onCuisineChange()"
              >
                <ion-select-option
                  *ngFor="let cuisine of foodTypes | orderBy: 'FoodType'"
                  [value]="cuisine.FoodType"
                >
                  {{ cuisine.FoodType }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col
            col-4
            *ngIf="
              distinctQuestions.length > 0 &&
              selectedCategory === 'Custom' &&
              pieChartDataSum > 0
            "
          >
            <ion-item class="select-category" no-padding>
              <ion-label>Select Question</ion-label>
              <ion-select
                no-padding
                padding-right
                placeholder="Select Question"
                [(ngModel)]="selectedQuestion"
                (ionChange)="onQuestionChange()"
                [disabled]="isSingleQuestionSurvey"
              >
                <ion-select-option
                  *ngFor="let question of distinctQuestions"
                  [value]="question"
                >
                  {{ question }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col
            col-md-4
            *ngIf="
              distinctQuestions.length === 0 ||
              selectedCategory === 'Predefined' ||
              pieChartDataSum === 0
            "
          >
          </ion-col>
          <ion-col col-md-8>
            <ion-segment
              [(ngModel)]="surveySegment"
              color="dark"
              mode="ios"
              (click)="getSurveyReport(true)"
              class="survey-segment-center-align"
            >
              <ion-segment-button
                value="Breakfast"
                class="line-height button-height"
              >
                Breakfast
              </ion-segment-button>
              <ion-segment-button
                value="Lunch"
                class="line-height button-height"
              >
                Lunch
              </ion-segment-button>
              <ion-segment-button
                value="Dinner"
                class="line-height button-height"
              >
                Dinner
              </ion-segment-button>
              <ion-segment-button
                value="Cumulative"
                class="line-height button-height"
              >
                Cumulative
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
        <ion-row
          responsive-sm
          [style.visibility]="this.noData == true ? 'visible' : 'hidden'"
        >
          <ion-col
            class="text-center"
            [ngClass]="isMobile === true ? 'col-width' : 'col-width50'"
          >
            <div *ngIf="costCenter">
              <ion-label
                >No data available for cost center {{ costCenter }}
              </ion-label>
            </div>
            <div *ngIf="costCenter == undefined">
              <ion-label>No data available </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row
          responsive-sm
          [style.visibility]="this.noData == false ? 'visible' : 'hidden'"
        >
          <ion-col [ngClass]="isMobile === true ? 'col-width' : 'col-width50'">
            <div class="chart-height">
              <canvas #pieCanvas></canvas>
            </div>
            <ion-row justify-content-center align-items-center>
              <ion-label>Tap on the sections to view details</ion-label>
            </ion-row>
            <ion-row justify-content-center align-items-center>
              <div class="div-width" float-left>
                <img
                  class="img_cursor"
                  [src]="'assets/imgs/All_Button.png'"
                  (click)="allData()"
                  alt=""
                />
                <div class="text-center">{{ pieChartDataSum }}</div>
              </div>
              <div
                class="div-width"
                float-left
                *ngFor="let emotion of labels; let i = index"
              >
                <img
                  class="img_cursor"
                  [src]="'assets/imgs/' + emotion + '_Selected.png'"
                  (click)="loadBarChartData(i)"
                  alt=""
                />
                <div class="text-center">{{ pieChartData[i] }}</div>
              </div>
            </ion-row>
          </ion-col>
          <ion-col [ngClass]="isMobile === true ? 'col-width' : 'col-width50'">
            <div class="chart-height">
              <canvas #barCanvas></canvas>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-center">
            <ion-button
              class="config-button"
              *ngIf="isInternal"
              ion-button
              (click)="goback()"
              item-right
            >
              Back to Setup Form
            </ion-button>
          </ion-col>
          <ion-col text-right *ngIf="isInternal">
            <ion-button
              class="config-button no-text-transformation"
              ion-button
              (click)="gotoURLGenerator()"
              item-right
            >
              Create Report URL
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
