    .card-panel {
      width: 90%;
      height: 90%;
    }
    .div-width{
      width: 9%;
      margin:5px;
    }
    @media screen and (max-width:500px){
      .div-width{
        width: 15%;
      }
    }
  
    .text-sub{
      white-space:initial;
      font-size: 14px;
      font-weight: bold
    }
    .label-md, .label-ios{
      margin: 5px;
    }
    .text-date{
      color: gray;
      font-size: 13px;
    }
    .chart-height{
      height: 210px;
    }
      .col-width50{
      width: 50%;
      }
  
      .col-width{
      width: 100%;
      }
  
      .img_cursor { 
      cursor: pointer; 
      }
    .survey-title{
      font-size: 18px;
      white-space: initial;
    }
    
    .text-bold{
        font-weight: bold;
    }
  
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
  
    .select-icon-inner{
        left: 0px;
    }
  
    .no-text-transformation{
        text-transform: none;
    }
    .select-text { 
        white-space: nowrap;
    }
  
    .font-size-small{
          font-size: 0.7em;
      }
  
    .ion-datetime-padding{
        padding: 0px 15px 0px 15px;
        width: 80%;
    }
  
    .ion-icon-padding{
        padding-bottom:3px;
    }
  
    .calendar{
        padding-bottom:3px;
    }

    #container .segment-btn{
           -webkit-transform: translate3d(0, 0, 0);
       }

    .sc-ion-card-md-h {
       --background: white;
    }

    .background .page-container .logo {
        width: 25%;
        margin: auto;
        padding-top: 10px;
    }

    .sync {
        margin-right: 5px;
    }

    .report-header {
       width: 100% 
    }

    ion-router-outlet{
        top: 50px;
    }
    
    ion-card{
        --background: #ffffff;
        --color: --ion-color-light-contrast
    }
    
    .logo{
        width: 50%;
        margin: 0 auto;
    }

    .page-container[_ngcontent-c0] .card-panel[_ngcontent-c0] {
        padding-top: 15px;
        text-align: center;
        margin: auto;
        height: auto;
        max-height: 90%;
        overflow-y: auto;
    }
    .segment-ios-dark .segment-button {
        border-color: #222;
        color: #222;
    }

    .segment-button-layout-icon-top:first-of-type {
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
        margin-right: 0;
    }
    
    .segment-button-layout-icon-top:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
    }
    
    .segment-button-layout-icon-top {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 32px;
        border-width: 1px;
        border-style: solid;
        font-size: 12px;
        line-height: 30px;
        color: #fff;
        background-color: #222;
        border-color: #222;
    }

    ion-select {
        width: 100%;
        max-width: 100%;
    }
    
    .select-category {
        width: 100%;
        max-width: 100%;
        border: 1px solid #bfc1c3;
        --padding-start: 10px;
    }

    .ion-col-datetime{
        padding: 1px 0px 0px 5px;
    }

    .datetime-button {
        display: inline-flex;
        font-size: 13px;
        margin: inherit;
        height: 40px;
        width: 200px;
        text-decoration: none;
        border-radius: 2px;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #3f84c7;
        text-align: center;
        position: relative;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 5px;
    }

    .text-center {
        text-align: center
    }

