<ion-row *ngIf="currentCostCenter" justify-content-center align-items-center padding-horizontal size="12" class="padding">
    <ion-col col class="text-left" *ngIf="currentCostCenter">
        <h3 class="text-bold font-size-small">CURRENT COST CENTER</h3>
        <h2 class="text-bold">{{currentCostCenter.LocationDescription}}</h2>
    </ion-col>
    <ion-col col class="text-right" *ngIf="showChangeButton" >
        <button ion-button small color="dark" (click)="changeButtonText()" type="submit">
            {{buttonDisplayName}}
        </button>
    </ion-col>
</ion-row>
<hr *ngIf="currentCostCenter"/>