.text-left {
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

.font-size-small {
    font-size: 0.7em;
}

.text-right {
    text-align: right;
}

button {
    text-decoration: none;
    font-size: 95%;
    background-color: var(--ion-color-dark);
    color:var(--ion-color-primary-contrast);
    height: 2rem;
}

.padding {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    height: 1px;
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.08);
}