<ion-content>
  <ion-row>
    <ion-col>
      <span
        >If changes are made, another version of the survey will be created. Do
        you want to continue?
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="align-right">
      <ion-button (click)="continue()">Yes</ion-button>
    </ion-col>
    <ion-col class="align-left">
      <ion-button (click)="stop()">No</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
