<ion-list>
  <ion-item *ngFor="let resultOption of resultOptions; let i = index">
    <ion-label>{{ resultOption.Text }}</ion-label>
    <ion-checkbox
      slot="end"
      mode="md"
      value="resultOption.ResultOptionId"
      [checked]="
        surveyItem.Result.ResultOptionId.indexOf(resultOption.ResultOptionId) >=
        0
      "
      (ionChange)="
        onResultOptionSelection(
          $event.detail.checked,
          resultOption.ResultOptionId
        )
      "
    ></ion-checkbox>
  </ion-item>
</ion-list>
