ion-select {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px;
}

.select-drop-down{
    width: 100% !important;
    max-width: 100% !important;
    border: 1px solid #bfc1c3 !important;
    --padding-start: 10px;
    margin: 10px 0px 20px 0px;
}