<ion-item class="select-drop-down">
  <ion-select
    [(ngModel)]="selectedResultOptionIds"
    name="multiselect"
    (ionChange)="onResultOptionSelection()"
    multiple="true"
  >
    <ion-select-option
      *ngFor="let resultOption of resultOptions"
      [value]="resultOption.ResultOptionId"
    >
      {{ resultOption.Text }}
    </ion-select-option>
  </ion-select>
</ion-item>
