.ion-col-datetime {
  padding: 0px 0px 0px 0px;
}

.datetime-button {
  display: inline-flex;
  font-size: 13px;
  margin: inherit;
  height: 40px;
  width: 50%;
  text-decoration: none;
  border-radius: 2px;
  overflow: hidden;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding-top: 5px;
}

.ion-datetime-padding {
  padding: 0px 15px 0px 15px;
  width: 80%;
}

.calendar {
  padding-bottom: 3px;
}
