<ion-row>
  <ion-col col-3 class="ion-col-datetime ">
    <ion-button icon-right class="datetime-button">
      <ion-datetime
        class="ion-datetime-padding"
        pickerFormat="MMMM/DD/YYYY"
        displayFormat="DD-MMM-YYYY"
        [(ngModel)]="surveyItem.Result.ResultText"
      ></ion-datetime>
      <ion-icon name="calendar" class="calendar"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
