.progressBar {
  height: 25px;
}

.progressStatusValue {
  text-align: center;
  margin-top: -22px;
  position: relative;
  font-weight: bold;
  color: black;
  -webkit-transform: translateZ(0);
}
