.text-bold{
    font-weight: bold;
}

.text-left{
    text-align: left;
}

.pad-left{
    padding-left: 37px;
}
hr {
    height: 1px;
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.08);
}