<location-search-form #locForm [theme]="theme" [formConfig]="formConfig" (networkNotAvailable)="networkIsNotAvailable()"
  (searchLocation)="searchLocations($event)" [isNetworkAvailable]="networkMgr?.isAvailiable"></location-search-form>
<p class="text-left text-bold pad-left" [hidden]="listOfLocations?.length == 0">
  SEARCH RESULTS
</p>
<hr />
<location-search-result [theme]="theme" [locations]="listOfLocations" (onSelectLocation)="listClick($event)"
  [isNetworkAvailable]="networkMgr?.isAvailiable" (networkNotAvailable)="networkIsNotAvailable()">
</location-search-result>